   <link rel="stylesheet" href="style.css" media="screen" />
<div class="addpro">
  
  <div class="container mt-5 pt-5 ">
    <div class="row">
        <a href="/admin/addGalleryImages" class="bn62">Add Images</a>
    </div>
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No</th>
       <th scope="col">Alt</th>
      {{!-- <th scope="col">Category</th> --}}
      {{!-- <th scope="col">Price</th> --}}
      {{!-- <th scope="col">Quantitiy</th> --}}
      {{!-- <th scope="col">Alt</th> --}}
       <th >image</th>
       <th >Action</th>
       
    </tr>
  </thead>
    {{!-- {{#each mappedData}}
      <!-- Access the 'image' array inside each object -->
      {{#each image}}
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
            <div class="u-back-slide" data-image-width="889" data-image-height="500">
              <img class="u-back-image u-expanded" src="{{imageUrl}}" alt="{{../alt}}">
            </div>
            <div class="u-over-slide u-shading u-over-slide-1"></div>
          </div>
 {{/each}}
    {{/each}} --}}
  <tbody>
    {{#each mappedData}}
    {{#each image}}
    <tr>
      <th scope="row">{{inc @index}}</th>
      {{!-- <td></td>
      <td></td> --}}
      {{!-- <td>₹</td>  --}}
      {{!-- <td></td> --}}
      <td>{{alt}}</td>
      <td><img style="width: 50px; height: 50px;" src="{{imageUrl}}" alt="{{alt}}"></td>
      <td>
        <div class="DE">
             {{!-- <a href="/admin/edit-gallary/{{_id}}" class="bn624">Edit</a> --}}
           <input type="hidden" name="id" id="id" value="{{this._id}}">
          {{!-- <a href="/admin/delete-products/{{this._id}}" class="bn623" onclick=" return confirm('Are You sure delete it {{this.name}}')">Delete</a> --}}
          <a  class="bn623" href="/admin/galleryimagedelete/{{_id}}">Delete</a>
       
        </div>
        
        </td>
    </tr>
    {{/each}}
    {{/each}}
  </tbody>
</table>

</div>

</div>
